.container {
    display: flex;
}

.left-side {
    width: 50%;
    background-color: #f1f1f1;
}

.right-side {
    width: 50%;
    background-color: #f5f5f5;
}

body
{
background-color: lightblue;
}